*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: rgb(0, 0, 0);
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

.login-btn {
    padding: 10px;
    background-color: #5170d7;
    text-decoration: none;
    color: black;
    width: 80px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.logo img {
    height: 50px;
    border-radius: 5px;
}


.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#5170d7,#6e8cdc,#8da6df,#adc0e1,#ced9e1,#ced9e18b,#ced9e15d, #ced9e135);
    color: black;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p 
{
    font-size: 22px;
    margin-bottom: 20px;
}

.hero button {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background: #5170d7;
    color: black;
    border-radius: 20px;
    transition: 0.5s;
}

.hero button:hover {
    background: black;
    color: #5170d7;
    transform: rotateX(360deg)
}

/* .cubes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    background-color: #000000;
    margin-top: 25px;
    
} */

.cube {
    margin: 0;
    height: 45px;
    width: 45px;
    background-color: red;
    border: 7.5px solid black;
}
 
.c1, .c4, .c7 {
    
    background-color: blue;
    transition: 2s;
}
/* .c1:hover,
.c4:hover,
.c7:hover {
    transform: rotateX(180deg);
    background-color: red;
} */

.c2, .c5, .c8 {
    background-color: red;
}

.c3,.c6, .c9 {
    background-color: green;
}


.col1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: 1.5s;
}
.col1:hover{
    transform: rotateX(180deg); 
}

.col1:hover .cube {
    background-color: red;
}

.col2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: 1.5s;
  
}
.col2:hover {
     transform: rotateX(180deg); 
}
.col2:hover .cube {
    background-color: blue;
}


.col3 {
    display: flex;
    flex-direction: column;
    transition: 1.5s;
    
}
.col3:hover{
    transform: rotateX(180deg); 
}

.col3:hover .cube {
    background-color: red;
}

.rubik {
    display: flex;
    margin-top: 25px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    flex-wrap: wrap;
}

.card{
    width: 280px;
    background: #6e8cdc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin: 15px 0;
}

.card p {
    font-size: 20px;
    margin-bottom: 15px;
}

.card button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #5170d7;
    background: white;
    border-radius: 5px;
    transition: 0.5s;

}

.card button:hover {
    background: black;
  transform: scale(1.1);
}

.card:hover {
    transform: translateY(-15px);
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.offers {
    background-color: black;
    padding: 15px 0;
    overflow: hidden;
  
}

.slider {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    gap: 20px;
   
}

.offer {
    color: white;
    font-size: 15px;
    padding: 0 60px;
    white-space: nowrap;
}

@keyframes scroll{
  0% {
    transform: translateX(100%);
  }


  100% {
    transform: translateX(-100%)
  }
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.category {
    padding: 25px;
    width: 180px;
    text-align: center;
    background: black;
    color: #5170d7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.category:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.sales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #F4C430,white,green);
    padding: 20px;
    gap: 40px;
}
.sale{
    text-align: center;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 10px;

}

.sale img{
    height: 500px;
    border-radius: 10px;
}

.sale h2{
    font-size: 30px;
}
.sale p{
    font-size: 25px;
}

.sale button {
    width: 150px;
    padding: 25px;
    /* height: 10px; */
    text-align: center;
    background: #5170d7;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;

}

.footlogo {
    margin-bottom: 20px;
}

.copy {
    text-align: center;
}

.quicks {
    list-style: none;

}
.quicks a:hover, li:hover {
   color: #F4C430;
   text-decoration: underline;

}

.quicks a{
    text-decoration: none;
    color: white
}




