*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
     background-color: #c7decb;
    padding: 10px;
}

.container{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.title {
    font-size: 50px;
    margin-bottom: 40px;

}



#product-section{
    background-color: rgba(0, 0, 0, 0.222);
    height: 85vh;
    width: 95vw;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 30px;

}

.section-title{
    margin-bottom: 10px;
    color: #092328;
}

.products{
  height: 70vh;
  width: 90vw;
  /* background-color: rgba(0, 0, 0, 0.418); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  padding: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  /* scrollbar-width: none; */
   box-shadow: 0 8px 32px rgba(0,0, 0, 0.3);

}

.products::-webkit-scrollbar{
    display: none;
}

.product {
    height: 63vh;
    width: 25vw;
    border-radius: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 8px 32px rgba(0,0, 0, 0.3);

    

}

.img-container {
    background-color:#09232896;
    height: 200px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.img-container img {
    height: 150px;
}

.details {
    
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    width: 100%;
    height: 50px;
    gap: 8px;
    font-size: 10px;
    color: #092328af;
    
}

.specs-box {
    padding: 30px;

    width: 100%;
    height: 200px;
    color: #2d5350;
    
    
}
.price{
    font-size: 18px;
}

.specs {
    font-size: 18px;
    padding-bottom: 5px;
}

.model, .ram, .storage {
    font-size: 15px;
}

.buy-now {
    margin-top: 10px;
    /* background-color: chocolate; */
    height: 40px;
    width: 100%;

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.buy-now button {
    padding-top: 7px;
    padding-bottom: 7px;
    
    width: 80%;
    text-align: center;

    border-radius: 15px;
    background-color:cadetblue;
    transition: 1s;
    cursor: pointer;
}

.buy-now button:hover
{
    transform: scale(1.1);
    background-color:rgba(95, 158, 160, 0.737) ;
}
.model, .ram, .storage {
    font-size: small;
}