* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: cadetblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    height: auto;
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}

.container{
    text-align: center;
    height: 180px;
    width: 180px;
    padding-top: 20px;
}

.container h1{
    font-size: large;
    color: rgb(1, 79, 224);
}

.pic {
    height: 140px;
    width: 180px;
    border-radius: 5px;
}

.price {
    color: green;
}

.strike {
    text-decoration: line-through;
    color: rgb(151, 57, 57);
    margin-left: 5px;
    margin-right: 5px;
}

.btn-buy {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
}
.btn-cart {
    background-color: rgb(8, 86, 229);
    padding: 10px;
    border-radius: 5px;

}

