body{
    /* height: 100vh; */
    background-color: rgb(87, 114, 22);
    margin:0 ;
    
    background-image: url("https://i.pinimg.com/originals/4b/ec/65/4bec65b9ecf55527f676ac6ad83fe374.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   background-position:bottom;
   background-attachment:fixed;
   
   
}


h1{
    font-size: 120px;
    font-weight: bold;
    font-family:sans-serif;
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.CTIpBxRapJXc20FBQ9ZADAHaFR?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: contain;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


