/* screen ke background ko Black Karna hai   (ho gya) */
/* aur screen ke content ka color white karo (ho gya)*/
/* div ko ek red color ka border create karn hai (ho gya)*/
/* div ko body ke border se andar lana hai (ho gya)*/
/*  div ke content ko border se andar lana hai (ho gya) */


 html {
    background-color: rgb(8, 0, 255);
} 

body {
    background-color: rgb(232, 19, 19);
    color: white;
   
    padding: 100px ;
    
    
}

div {
    border: 10px solid rgb(13, 255, 0);

  
}

