body {
    background-color: black;
  
    
}

.ads{
    display: inline;
    margin-left: 300px;
    color: aliceblue;


}

p {
    display: inline;
}

.info {
    
    display: inline;
    color: rgb(19, 101, 173);
    background-color: azure;
    height: 50px;
    width: 150px;
    margin-inline-end: 20px;
    margin-left: 400px;
    
}


